# Make textmate the default editor
export EDITOR='$HOME/bin/mate -w'

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# use UTF-8
export LC_ALL="en_US.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# Change node path for Homebrew installed node
export NODE_PATH="/usr/local/lib/node"

# Add NPM modules and homebrew PHP version to path 
export PATH="/usr/local/share/npm/bin:$(brew --prefix josegonzalez/php/php55)/bin:$PATH"