# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$@"
}

# Jump to root git folder
function cdr { 
while [ ! -d .git -a ! -f '.this_is_root' -a `pwd` != "/" ]
    do
        cd ".."; 
    done
}